@use "base/variables" as v;
@use "base/mixins" as m;

.todaysForecast{
    background-color: rgb(246, 242, 255); opacity: 0.8; background-image: radial-gradient(rgb(210, 174, 43) 1px, transparent 1px), radial-gradient(rgb(210, 174, 43) 1px, rgb(246, 242, 255) 1px); background-size: 30px 30px; background-position: 0px 0px, 15px 15px;
    padding: 10rem 0;

    .todaysForecast__tittle{
        text-align: center;
        margin-bottom: 4rem;
        color: v.$secundario;
        text-transform: uppercase;
        font-size: 3.6rem;
        span{ //Hoy
            font-size: 6rem;
        }
        @include m.tablet{
            font-size: 5.6rem;
        }
    }

    .todaysForecast__flex, .todaysForecast__flex1{
        max-width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0 auto;
        text-align: center;

        @include m.tablet{
            flex-direction: row;
            gap: 2rem;
            max-width: 80%;
        }
    }

    .todaysForecast__flex1{
        @include m.tablet{
            max-width: 50%;
        }
    }
    .card, .card1{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background: v.$contrasteDia3;
        padding: 2rem;
        border-radius: 5rem;
        color: v.$negro;
        margin-bottom: 4rem;
        @include m.tablet{
            margin-bottom: 0;
        }

        .card__flex, .card__flex1{
            display: flex;
            justify-content: space-between;
            @include m.tablet{
                padding: 0 1rem;
                gap: 4rem;
            }
            p{
                color: v.$blanco;
            }
            .card__grades-Max, .card__grades-Max1, .card__grades-Min, .card__grades-Min1{
                color: v.$negro;
                margin: 1rem 0;
                span{
                    font-weight: bold;
                    font-size: 2.4rem;
                    @include m.tablet{
                        font-size: 2.6rem;
                    }
                }

                @include m.desktop{
                    margin: 0;
                }
            }
            .card__grades-Max, .card__grades-Min{
                @include m.tablet{
                    font-size: 1.6rem;
                }
                span{
                    @include m.tablet{
                        font-size: 2rem;
                    }
                }
            }
            @include m.desktop{
                flex-direction: row;
            }
        }
        .card__tittle, .card__tittle1{
            margin-bottom: 2rem;
            font-size: 2.8rem;
            @include m.tablet{
                font-size: 2.6rem;
            }
            @include m.desktop{
                font-size: 3.2rem;
            }
        }
        .card__descripcion, .card__descripcion1{
            font-size: 2.8rem;
            font-family: v.$fuente-special;
        }
        .card__image, .card__image1{
            margin: 2rem 0;
            max-width: 60%;
            margin: 4rem auto 4rem auto;
        }
    }

    .card{
        @include m.tablet{
            width: 55%;
        }
    }

    @include m.tablet{
        .card1{
            margin: 0 auto;
            padding: 4rem;
            margin-bottom: 2.5rem;
            .card__tittle1{
                font-size: 6rem;
            }
            .card__flex1{
                padding: 0;
                gap: 4rem;
                text-align: center;
            }
            .card__image1{
                max-width: 80%;
                margin: 4rem auto 4rem auto;
            }
        }
    }

    .card__inside, .card__inside1{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

}