@use "variables" as v;

//Mixins for mediaQueries
@mixin phone{
    @media (min-width: v.$telefono){
        @content;
    }
}
@mixin tablet{
    @media (min-width: v.$tablet){
        @content;
    }
}
@mixin desktop{
    @media (min-width: v.$desktop){
        @content;
    }
}

//General Mixins
@mixin grid($columns, $rows, $gap){
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-template-rows: repeat($rows, 1fr);
    gap: $gap;
}