@use "variables" as v;

.text-center{
    text-align: center;
}
.bg_dia{
    background-color: #c8b6a3;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #c8b6a3 40px ), repeating-linear-gradient( #c0aa6f34, #b8a56f9c );
}
.bg_noche{
    background: v.$noche;
}

.opacity{
    opacity: 1;
}

//Desaparecer y aparecer
.invisible{
    display: none;
}