@use "variables" as v;

.text-center{
    text-align: center;
}
.bg_dia{
    background-color: #c8b6a3;
    background-image:  v.$dia;
}
.bg_noche{
    background: v.$noche;
}

.opacity{
    opacity: 1;
}

//Desaparecer y aparecer
.invisible{
    display: none !important;
}

//Divs
.inclinado{
    clip-path: polygon(0 0,100% 0,100% 100%,0 calc(100% - 70px));
    
    
    clip-path: polygon(0 0,100% 70px,100% 100%,0 100%);
    margin-top: -75px;
}

//Efecto blur
.blur{
    // background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(2px);
    z-index: 4;
    width: 100%;
    height: 100%;
    position: fixed;
}

.color{
    color: v.$secundario;
}