@use "base/mixins" as m;
@use "base/variables" as v;

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 40rem;
    padding: 5rem 0;
    @include m.tablet{
        flex-direction: row;
        justify-content: space-between;
    }
    .menu__logo{
        max-width: 20rem;
    }
}